.booking {
  display: flex;
  flex-direction: column;
}
label {
  margin: 5px;
}

.inputbox{
  height: 25px;
  border-radius: 10px;
  padding: 5px;
  min-width: 130px;
}

textarea{
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.input_submit{
  height: 40px;
  width: 150px;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  color: #f1f1f1;
  background: rgb(44, 113, 246);
  cursor: pointer;
}
.åpningstider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
  gap: 20px;
}
.åpningstider .dag {
  list-style: none;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(90, 113, 146, 0.2);
  line-height: 2rem;
  display: flex;
}
.åpningstider .dag p {
  border-left: 1px solid white;
  margin-left: 10px;
  padding-left: 10px;
}