.booking {
  display: flex;
  flex-direction: column;
}
label {
  margin: 5px;
}

.inputbox{
  height: 25px;
  border-radius: 10px;
  padding: 5px;
}

.åpningstider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
  gap: 20px;
}
.åpningstider .dag {
  list-style: none;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(90, 113, 146, 0.2);
  line-height: 2rem;
  display: flex;
}
.åpningstider .dag p {
  border-left: 1px solid white;
  margin-left: 10px;
  padding-left: 10px;
}