* {
  box-sizing: border-box;
}

body {
  background-color: #e1e2e4;
}

.main {
  max-width: 1000px;
  margin: 10px auto;
  padding: 20px;
  background-color: #f1f0ef;
  flex-direction: column;
}

header {
  margin: 0px;
  padding: 20px;
  background-color: #303030;
  flex-direction: row;
  position: static;
  top: 8px;
  width: 100%;
  display: flex;
  justify-content: left;
  gap: 10px;
  overflow-x: auto;
  white-space: nowrap;
}

@media screen and (min-width: 783px) {
  header {
    justify-content: center;
  }
}

header *:hover {
  opacity: 0.7;
}

.title {
  font-size: 40px;
  font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  padding: 2px;
  border-bottom: solid 4px #ffd500;
}

h2 {
  font-size: 1.6em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #504d7a;
}

h3 {
  font-size: 1.2em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #504d7a;
}

p {
  font-size: 18px;
  font-family: calibri, 'Segoe UI', system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #3b374b;
}

.quote {
  font-size: 18px;
  font-family: calibri, 'Segoe UI', system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}

.source {
  font-family: 'Segoe UI', system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 0.8em;
  line-height: 2em;
  color: #000000;
  text-decoration: none;
}

.source a {
  color: #000000;
  text-decoration: none;
  border-bottom: solid 2px #2d238a;
  word-break: break-all;
}

hr {
  border: 1px solid #504d7a;
}

.description {
  margin-top: 25px;
  font-size: 0.9em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #888888;
}

figure {
  max-width: 400px;
  display: inline-flex;
  flex-direction: column;
  float: right;
}

figure img {
  max-width: 100%;
}

figcaption {
  padding: 3px;
  color: #eeeeee;
  background-color: #303030;
}

figcaption a {
  color: #eeeeee;
  text-decoration: none;
  border-bottom: solid 1px #ffffff;
}

.button {
  margin: 6px;
  padding: 4px;
  border: solid 2px #eff0f1;
  background-color: #eff0f1;
  text-decoration: none;
  font-family: 'Segoe UI', system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  color: #303030;
  cursor: pointer;
  font-size: 16px;
}

.references {
  display: flex;
}